<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ElvanSoda</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css" />
  </head>
  <body>
    <script src="../socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      socket.emit("new Access");

      socket.on("data updated", data => {
        console.log("Data: ", data);
        let td1 = document.getElementsByClassName("td_0");
        let td2 = document.getElementsByClassName("td_1");
        let td3 = document.getElementsByClassName("td_2");

        if (data) {
          for (var i = 0; i < data.length; i++) {
            td1[i].textContent = data[i].ProductName;
            td2[i].textContent = data[i].Amount;
            td3[i].textContent = data[i].TotalPrice;
          }
        }
      });

      socket.on("data clear", () => {
        console.log("data clear request");
        let td1 = document.getElementsByClassName("td_0");
        let td2 = document.getElementsByClassName("td_1");
        let td3 = document.getElementsByClassName("td_2");

        for (var i = 0; i < td1.length; i++) {
          td1[i].textContent = "";
          td2[i].textContent = "";
          td3[i].textContent = "";
        }
      });

      function cancel() {
        console.log("Cancel button clicked");
        window.open(
          "pup_clear.html",
          "c",
          "width=500, height=220, left=450, top=250"
        );
      }

      function pay() {
        console.log("Pay button clicked");
        window.open(
          "pup_pay.html",
          "p",
          "width=500, height=220, left=450, top=250"
        );
      }
    </script>
    <div class="left-box">
      <table class="product_table">
        <tr>
          <th>상품명</th>
          <th style="width: 20%">수량</th>
          <th style="width: 30%">가격</th>
        </tr>
        <tr>
          <script>
            for (var i = 0; i < 20; i++) {
              let tr = document.createElement("tr");
              tr.className = "data_tr";
              document
                .getElementsByClassName("product_table")[0]
                .appendChild(tr);

              for (var j = 0; j < 3; j++) {
                let td = document.createElement("td");
                td.className = "td_" + j;
                document.getElementsByClassName("data_tr")[i].appendChild(td);
              }
            }
          </script>
        </tr>
      </table>
    </div>
    <div class="right-box">
      <img class="icon" src="images/1024x1024.png" />
      <h1 style="text-align: left;">총금액:</h1>
      <input
        class="button"
        onclick="cancel();"
        id="btn1"
        type="button"
        value="취소"
      />
      <input
        class="button"
        onclick="pay();"
        id="btn2"
        type="button"
        value="결제"
      />
    </div>
  </body>
</html>
