<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/master.css">
</head>
<body>
	<h1>Hello
	<% if(name){ %>
	<span class="name"><%= name %>!</span>
	<% } else { %>
	<span class="stranger">Stranger!</span>
	<% } %>
	</h1>
</body>
</html>
